.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid #acaaaa;
   
}
.light_header{
    composes: header;
    border-bottom: 1px solid black;
}

.navlink{
    text-decoration: none;
    text-transform: uppercase;
    /* color: #5383ec; */
    /* color: #acaaaa; */
    
    font-weight: bold;
}
.navlink:not(:last-child){
    margin-right: 30px;
}
.active{
    color: tomato
}